body {
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: #232323;
    color: #efefef;
}

#queryfield {
    padding: 15px;
    font-size: 1.2em;
    width: 95%;
    background-color: #232323;
    color: #efefef;
    border-style: dotted;
    outline: none;
}

a, a:visited {
    color: #efefef;
}

.page {
    min-height: 100vh;
}

#scrollmore {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    width: 100%;
}

#searchbox {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

button {
    margin-top: 7px;
    font-size: 1.2em;
}

h2 {
    padding-top: 10px;
}

@media screen and (orientation: portrait) {
    body, p {
        font-size: 1.8em;
    }
    #searchbox {
        max-width: 100%;
        width: 100%;
    }
    #queryfield {
        padding: 15px;
        font-size: 2em;
    }
    button {
        font-size: 2.2em;
    }
    code {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
