body {
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: #232323;
    color: #efefef;
}

#queryfield {
    padding: 15px;
    font-size: 20px;
    width: 95%;
    background-color: #232323;
    color: #efefef;
    border-style: dotted;
    outline: none;
}

a:visited {
    color: #efefef;
}

.page {
    min-height: 100vh;
}

#scrollmore {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

#searchbox {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

button {
    margin-top: 7px;
    font-size: 20px;
}

h2 {
    padding-top: 10px;
}

@media screen and (orientation: portrait) {
    body, p {
        font-size: 7mm;
    }
    #searchbox {
        max-width: 99%;
        width: 99%;
    }
    #queryfield {
        padding: 15px;
        font-size: 1cm;
    }
}